@media (max-width: 400.95px) { 

    .header{
       margin-right: 10%;
    }
    .header-img{
       width: 360px;
    }
    .test-margin{
        margin-left: 5px;
        margin-right: 5px;
    }
    .offer-img{
        height: 230px;
        width: 250px;
    }
    .offer-margin-text{
        text-align: center;
        margin-top: 10%;
    }
    .brands-margin{
        margin: 0 0 0 86px;
        padding: 2px;
     }
     .footer-row{
        padding: 60px 0 0 65px;
    }
    .footer-row p{
        text-align: center;
    }
    .hr{
        width: 280px;
    }
    .cart-quantity{
        margin-top: 150%;
    }
    .cart-price{
        margin-top: 190%;
    }
    .hr-2{
        width: 380px;
    }
    .account-img-size{
        height:300px;
        width:375px;
    }
    .product-d-name{
        font-size: 30px !important;
    }
    .about-back-img-2{
        min-height: 220px;
    }
    .margin-con{
        margin-top: 38%;
    }
    .form-margin{
        margin-left: 12%;
    }
    .box-2{
        height: 10rem;
        padding: 12px;
    }
    .helps-margin-top{
        margin-top: 88%;
    }
    .help-more-img-5{
        min-height: 145px;
    }
    .news-title-margin-top{
        margin-top: 23%;
    }
    .skeletonIconImgMargin{
        margin-left: 5%;
    }
    .feature-img{
        height: 210px;
        width: 106%;
    }
    .product-img{
        height: 280px;
        width: 106%;
    }


   
}

@media (min-width: 574px) and (max-width: 575.98px) { 

 .header{
    margin-right: 10%;
 }
 .header-img{
    width: 516px;
 }
 .test-margin{
    margin-left: 5px;
    margin-right: 5px;
}
.offer-img{
    height: 300px;
    width: 350px;
}
.offer-margin-text{
    text-align: center;
    margin-top: 8%;
}
.footer-row{
    padding: 60px 0 0 140px;
}
.brands-margin{
    margin: 0 0 0 153px;
    padding: 2px;
 }

.hr{
    width: 280px;
}
.copyright{
    margin-right: 100px;
}
.cart-quantity{
    margin-top: 100%;
}
.cart-price{
    margin-top: 145%;
}
.hr-2{
    width: 550px;
}
.account-img-size{
    height:430px;
    width:550px;
}
.product-d-name{
    font-size: 33px !important;
}
.about-back-img-2{
    min-height: 320px;
}
.margin-con{
    margin-top: 25%;
}
.form-margin{
    margin-left: 15%;
}
.confirm-email{
    margin-right: 5%;
}
.box-2{
    height: 7rem;
    padding: 12px;
}
.helps-margin-top{
    margin-top: 60%;
}
.help-more-img-5{
    min-height: 200px;
}
.news-title-margin-top{
    margin-top: 22%;
}
.skeletonIconImgMargin{
    margin-left: 5%;
}
.feature-img{
    height: 210px;
    width: 105%;
}
.product-img{
    height: 280px;
    width: 105%;
}
.wave{
   width: 105%;
}

    
}


@media (min-width: 576px) and (max-width: 768px) { 
    .header{
        margin-right: 10%;
     }
     .header-img{
        width: 518px;
     }
     .test-margin{
        margin-left: 1px;
        margin-right: 1px;
    }
    .offer-img{
        height: 400px;
        width: 350px;
    }
    .offer-margin-text{
        text-align: center;
        margin-top: 8%;
    }

    .brands-margin{
        margin: 0 0 0 148px;
        padding: 2px;
     }
     .footer-row{
        padding: 60px 0 0 140px;
    }
    .hr{
        width: 280px;
    }
    .cart-quantity{
        margin-top: 100%;
    }
    .cart-price{
        margin-top: 145%;
    }
    .hr-2{
        width: 517px;
    }
    .account-img-size{
        height:430px;
        width:550px;
    }
    .product-d-name{
        font-size: 33px !important;
    }
    .about-back-img-2{
        min-height: 320px;
    }
    .margin-con{
        margin-top: 25%;
    }
    .form-margin{
        margin-left: 14%;
    }
    .confirm-email{
        margin-right: 2%;
    }
    .box-2{
        height: 10rem;
        padding: 12px;
    }
    .helps-margin-top{
        margin-top: 60%;
    }
    .help-more-img-5{
        min-height: 200px;
    }
    .news-input-margin{
        margin-right: 15%;
    }
    .news-title-margin-top{
        margin-top: 18%;
    }
    .skeletonIconImgMargin{
        margin-left: 5%;
    }
    .feature-img{
        height: 210px;
        width: 105%;
    }
    .product-img{
        height: 280px;
        width: 105%;
    }
    .wave{
        width: 105%;
     }
}

 @media (min-width: 768px) and (max-width: 992px) { 
    .header{
        margin-right: 10%;
     }
     .header-img{
        width: 330px;
     }
     .header{
        margin-top: 27%;
        margin-left: 5%;
     }
     .test-margin{
        margin-left: 1px;
        margin-right: 1px;
    }
    .offer-img{
        height: 430px;
        width: 350px;
    }
    .offer-margin-text{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 20%;
    }
    .give-margin-text{
        text-align: center;
        margin-top: 8%;
    }
    .offer-margin{
        margin-left: 0;
        margin-right: 0;
    }
    .footer-row{
        padding: 60px 0 0 100px;
    }
    .brands-margin{
        margin: 0 0 0 130px;
        padding: 2px;
     }
    .hr{
        width: 580px;
    }
    .cart-quantity{
        margin-top: 86%;
    }
    .cart-price{
        margin-top: 126%;
    }
    .hr-2{
        width: 695px;
    }
    .account-img-size{
        height:504px;
        width:350px;
    }
    .product-d-name{
        font-size: 33px !important;
    }
    .about-back-img-2{
        min-height: 400px;
    }
    .margin-con{
        margin-top: 20%;
    }
    .form-margin{
        margin-left: 24%;
    }
    .confirm-email{
        margin-right: 2%;
    }
    .box-2{
        height: 7rem;
        padding: 12px;
    }
    .helps-margin-top{
        margin-top: 44%;
    }
    .help-more-img-5{
        min-height: 250px;
    }
    .news-title-margin-top{
        margin-top: 16%;
    }
    .skeletonIconImgMargin{
        margin-left: 5%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 
    .nav-title{
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
    }
    .brand-title{
        font-size: 20px !important;
    }
    .header{
        margin-right: 10%;
     }
     .header-img{
        width: 430px;
     }
     .header{
        margin-top: 20%;
        margin-left: 5%;
     }
     .test-margin{
        margin-left: 1px;
        margin-right: 1px;
    }
    .offer-img{
        height: 450px;
        width: 500px;
    }
    .offer-margin-text{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 23%;
    }
    .give-margin-text{
        text-align: center;
        margin-top: 14%;
    }
    .brands-margin{
        margin: 6px;
     }
     .footer-row{
        padding: 60px 0 0 80px;
    }
    .hr{
        width: 880px;
    }
    .footer-column{
        min-width: 200px;
        margin-bottom: 20px;
     }
     .cart-quantity{
        margin-top: 25%;
    }
    .cart-price{
        margin-top: 34%;
    }
    .hr-2{
        width: 936px;
    }
    .account-img-size{
        height: 504px;
        width : 455px;
    }
    .product-d-name{
        font-size: 36px !important;
    }
    .about-back-img-2{
        min-height: 560px;
    }
    .margin-con{
        margin-top: 15%;
    }
    .form-margin{
        margin-left: 31%;
    }
    .box-2{
        height: 7rem;
        padding: 12px;
    }
    .helps-margin-top{
        margin-top: 34%;
    }
    .help-more-img-5{
        min-height: 300px;
    }
    .news-title-margin-top{
        margin-top: 12%;
    }

}
@media (min-width:1200px) and (max-width: 1354px) { 
    .header{
        margin-right: 10%;
     }
     .header-img{
        width: 528px;
     }
     .header{
        margin-top: 17%;
        margin-left: 5%;
     }
     .test-margin{
        margin-left: 1px;
        margin-right: 1px;
    }
    .offer-img{
        height: 450px;
        width: 500px;
    }
    .offer-margin-text{
        margin-left: 0;
        margin-right: 20%;
        margin-top: 19%;
    }
    .footer-row{
        padding: 60px 0 0 110px;
    }
    .brands-margin{
        margin: 0 0 0 60px;
        padding: 2px;
     }
    .hr{
        width: 1010px;
    }
    .cart-quantity{
        margin-top: 20%;
    }
    .cart-price{
        margin-top: 29%;
    }
    .hr-2{
        width: 1117px;
    }
    .account-img-size{
        height: 447px;
        width : 555px;
    }
    .product-d-name{
        font-size: 40px !important;
    }
    .about-back-img-2{
        min-height: 650px;
    }
    .margin-con{
        margin-top: 12%;
    }
    .form-margin{
        margin-left: 34%;
    }
    .helps-margin-top{
        margin-top: 28%;
    }
    .help-more-img-5{
        min-height: 380px;
    }
    .news-title-margin-top{
        margin-top: 10%;
    }

}
